.btn{
    color: $boton1;
    background-color: $color2;

      &:hover{
         transition: background-color 0.5s ease;
         background-color: $boton2;
         color: $color2;
        }
}
.badge{
    color: $color2;
    background-color: $boton1;
}
