*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $color2;
} 
.hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, $color2, $color1, $color2);
}


