*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
} 
.hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, white, rgba(150, 34, 165, 0.75), white);
}


